<div class="row">
  <div class="col-sm-8">
    <ul class="nav nav-tabs nav-justified mb-3">
      <li class="nav-item"><a href="<%= user_path(@user) %>" class="nav-link <%= 'active' if current_page?(user_path(@user)) %>">Projectlists  <span class="badge badge-secondary"><%= @count_projects %></span></a></li>
      <li class="nav-item"><a href="#" class="nav-link">完了</a></li>
      <li class="nav-item"><a href="#" class="nav-link">未着手</a></li>
      <li class="nav-item"><a href="#" class="nav-link">作業中</a></li>
      <li class="nav-item"><a href="#" class="nav-link">品質異常</a></li>
    </ul>
<table class="table table-striped">
    <thead>
      <tr>
        <th>製品名</th>
        <th>ステータス</th>
      </tr>
    </thead>
    <tbody>
     <% @projects.each do |project| %>
     <tr>
       <td><%= link_to project.product, project %></td>
       <td><%= project.status %></td>
     </tr>
     <% end %>
    </tbody>
</table>
  </div>
</div>